#define WIFI_SSID "YourWifiName"
#define WIFI_PASSWORD "YourWifiPassword"
#define ADMIN_PASSWORD "AdminPasswordForArduinoUpdates"
#define HOMEBRIDGE_API_HOST "http://your-homebridge-host:8581"
#define HOMEBRIDGE_API_USERNAME "HomebridgeAdminUser"
#define HOMEBRIDGE_API_PASSWORD "HomebridgeAdminPassword"